count startwiths and endwiths

In [1]:
story = 'the king goes to the jungle for an apple in the world in universe'
story.count("a")

2

In [28]:
import os

content = os.listdir('C:/Users/ASUS/All Gangs for Gang and Turf Mod v2.6')
print(content)

['Create your own gang', 'GangData.xml', 'Melee start', 'Melee Unarmed Fix', 'ModOptions.xml', 'readme.txt', 'TurfZoneData.xml']

In [36]:
for item in content: 
    if item.endswith('.xml'):
       print(item)

GangData.xml
ModOptions.xml
TurfZoneData.xml

In [37]:
words = "excellent"
print(words.startswith('ev'))
print(words.startswith('ex'))

False
True

list

In [3]:
name = ['kushahra', 'pawan', 'jatin','raunak']
prime_number = [2,3,5,7,9,11,13,17,19,23,29]
mix_list=[1,'kushagra',2,'jatin',3,'ranaku',4,'rishab']
nest_list=[[1,2,3],[4,5,6],[7,8,9]]

In [4]:
print(len(name))
print(len(prime_number))
print(len(mix_list))
print(len(nest_list))

4
11
8
3

traversal

In [5]:
for i in name:
    print(i)

kushahra
pawan
jatin
raunak

In [6]:
print(name)

['kushahra', 'pawan', 'jatin', 'raunak']

In [7]:
print('first elements',prime_number[2])
print('second elements',prime_number[0])
print('fourth element',prime_number[-7])

first elements 5
second elements 2
fourth element 9

In [10]:
name[-2]= 'nihal'
print(name)

['kushahra', 'pawan', 'nihal', 'raunak']

slicing

In [12]:
print(prime_number[:5])
print(prime_number[-5:])
print(prime_number[::-1])
print(prime_number[::2])
print(prime_number[:5:3])

[2, 3, 5, 7, 9]
[13, 17, 19, 23, 29]
[29, 23, 19, 17, 13, 11, 9, 7, 5, 3, 2]
[2, 5, 9, 13, 19, 29]
[2, 7]

adding and removing
#for adding data we use (list.append()) # for removing data we use (list.remove())

In [114]:
a = []
a.append(100)
a.append("sam")
a.append("earse")
print(a)

[100, 'sam', 'earse']

In [115]:
a.append(100)
print(a)

[100, 'sam', 'earse', 100]

In [116]:
a.remove(100)
#a.remove("earse")
print(a)

['sam', 'earse', 100]

- insert for adding value according to index
- pop removing value according to index number

In [118]:
a.insert(1,"ear")# adding value accoarding to the given position
print(a)

['sam', 'ear', 'ear', 'earse', 100]

In [119]:
a.pop(-1)#removing value acco to index num
print(a)

['sam', 'ear', 'ear', 'earse']

In [120]:
a.pop()# removing -1 index number value from list
print(a)

['sam', 'ear', 'ear']

In [121]:
a.clear()# use for  clearing the plot
print(a)

[]

concatenation+ vs merging extend() 
                          - list.extend()

In [124]:
a = [1,2,3,4]
b = [2,3,4,5,6]
c = a+b
print(c)
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [127]:
a=[]
for i in range(1,100):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

for prime number

In [130]:
# a = list(range(2,102,2))
a = list(range(2,102,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [131]:
a.reverse()
print(a)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [132]:
a.sort()
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [134]:
a = [12,23,455,354,434,5454,3435,345,545,54]
print(a.count(12))
print(a.count(354))
print(a.count(54))
print(a.count(23))

1
1
1
1

In [137]:
#just checking if a value exist or not in list
print(23 in a)
print(12 in a)
print(67 in a)
print(354 in a)
print(677 in a)

True
True
False
True
False

In [139]:
#finding the first accurance if a value in the list  #(list.index(value))
print(a.index(12))
print(a.index(23))
print(a.index(354))
print(a.index(2334))

0
1
3

ValueError: 2334 is not in list

In [140]:
for i in range(1,10):
    print(i,end = ".\n")
    #for adding dot in number table synatax is  end="."+str(i)+"\n"
    #end = '.\n'

1.
2.
3.
4.
5.
6.
7.
8.
9.